body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .navbar {
    background-image: url('image.png');
    background-size: cover;
    background-position: center;
    padding: 30px;
    text-align: center;
  }

  .navbar button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .navbar button:hover {
    background-color: #fcfbfb;
    color: black;
  }

  .container {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-image: url('image.png');
  }

  .content {
    width: 60%;
    text-align: center;
    border: 1px solid #000;
    padding: 20px;
  }

  .form {
    width: 30%;
    border: 1px solid #000;
    padding: 20px;
  }

  .form input[type="text"],
  .form input[type="email"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
  }

  .form button {
    padding: 8px 16px;
    margin-right: 10px;
  }

  .footer {
    background-color: #ddd;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }